/* Main Container */
.admin-login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
}

/* Header Styles */
.admin-header {
  background-color:  rgba(0, 106, 193, 0.95); /* Changed to red */
  color: white;
  padding: 1rem 2rem;
  text-align: center;
}

.admin-brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.admin-brand-text {
  text-align: center;
}

.admin-company-name {
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
}

.admin-company-tagline {
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.5px;
}


/* Login Section */
.admin-login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 2rem;
}

.admin-login-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  width: 100%;
  max-width: 400px;
}

.admin-login-title {
  color:  rgba(0, 106, 193, 0.95); /* Changed to red */
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.admin-login-subtitle {
  color: #7f8c8d;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

/* Form Styles */
.admin-login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.admin-input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.admin-input-group label {
  color: #2c3e50;
  font-weight: 500;
  font-size: 0.9rem;
}

.admin-input-field {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.admin-input-field:focus {
  outline: none;
  border-color:  rgba(0, 106, 193, 0.95); /* Changed to red */
}

.admin-login-button {
  background-color:  rgba(0, 106, 193, 0.95); /* Changed to red */
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.admin-login-button:hover {
  background-color: #331cb7; /* Darker red for hover */
}

/* Footer */
.admin-login-footer {
  text-align: center;
  padding: 1rem;
  background-color:  rgba(0, 106, 193, 0.95); /* Changed to red */
  color: #ffffff;
  font-size: 0.8rem;
}

.password-input-wrapper {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #777;
  padding: 0 5px;
}

.password-toggle:hover {
  color:  rgba(0, 106, 193, 0.95);
}

.password-toggle svg {
  vertical-align: middle;
}